.square {
  background-color: transparent;
  background-origin: border-box;
  border: 1px solid rgba(255, 255, 255, .5);
  color: white;
  font-size: 24px;
  text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.slideUp {
  transform: translateY(-100%);
  transition: transform 300ms ease-out;
}

.slideDown {
  transform: translateY(100%);
  transition: transform 300ms ease-out;
}

.slideLeft {
  transform: translateX(-100%);
  transition: transform 300ms ease-out;
}

.slideRight {
  transform: translateX(100%);
  transition: transform 300ms ease-out;
}